<!doctype html>
<html lang="en">
<head>
  {% include 'home/layout/header.html' %}

</head>

<body class="ecommerce-page">
	{% include 'home/layout/top.html' %}

	<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('static/img/home/2226.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1 class="title">SRRS</h1>
						<h4>Sejong&nbsp;&nbsp;<b>Rooms</b>&nbsp;&nbsp;<b>Reservation</b>&nbsp;&nbsp;Service</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="main main-raised">
        <div class="section">

        </div><!-- section -->


	</div> <!-- end-main-raised -->


  {% include 'home/layout/footer.html' %}
</body>
{% include 'home/layout/bottom.html' %}


</html>
