<!doctype html>
<html lang="en">
<head>
	{% include 'home/layout/header.html' %}
</head>

<body class="login-page">
	<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="/"><img src="static/img/home/whiteLogo.png" alt="메인로고"
						style="width: 80px; margin-top: -10px;"></a>
        	</div>
    	</div>
    </nav>

	<div class="page-header header-filter" style="background-image: url('static/img/home/bg0.png'); background-size: cover; background-position: top center;">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
					<div class="card card-signup">
						<form class="form" method="POST" id="frm" name="frm" onsubmit="return false;">
							<div class="header header-info text-center">
								<h4 class="card-title">Log in</h4>
								<div class="social-line">
									<a href="#pablo" class="btn btn-just-icon btn-simple">

									</a>
									<a href="/" class="btn btn-just-icon btn-simple">
										<i class="fa fa-home"></i>
									</a>
									<a href="#pablo" class="btn btn-just-icon btn-simple">

									</a>
								</div>
							</div>
							<p class="description text-center">Or Be Classical</p>
							<div class="card-content">

								<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">face</i>
									</span>
									<input type="text" name="user_email" class="form-control" placeholder="이메일">
								</div>

								<div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">lock_outline</i>
									</span>
									<input type="password" name="user_pwd" placeholder="암호" class="form-control" />
								</div>


								<!-- If you want to add a checkbox to this form, uncomment this code

								<div class="checkbox">
									<label>
										<input type="checkbox" name="optionsCheckboxes" checked>
										Subscribe to newsletter
									</label>
								</div> -->
							</div>
              <a onclick="" style="cursor: pointer;">
                <p class="description text-center text-rose">비밀번호 찾기</p>
              </a>
							<div class="footer text-center">
								<a href="#pablo" class="btn btn-info" onclick="fn_login()">로그인</a>
							</div>
              <br/>

						</form>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
	        <div class="container">
	            <nav class="pull-left">

	            </nav>
	            <div class="copyright pull-right">
	                &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com" target="_blank">Creative Tim</a>
	            </div>
	        </div>
	    </footer>

	</div>

</body>
{% include 'home/layout/bottom.html' %}
<script>
  let fn_login = () => {
    $.ajax({
      type: "POST",
      url: "api/mem/members/login/",
      data: $("#frm").serialize()
    })
    .done(function (data) {
        if(data === "success") {
          alert("로그인 되었습니다.");
          location.href = "/";
        } else {
          alert(data);
          return false;
        }

    })
    .fail(function (err) {

    })
  };

</script>
</html>
