<!doctype html>
<html lang="en">
<head>
	{% include 'home/layout/header.html' %}
</head>

<body class="profile-page">
  {% include 'home/layout/top.html' %}

	<div class="page-header header-filter" data-parallax="true" style="background-image: url('static/img/home/myPage.png');"></div>

	<div class="main main-raised">
		<div class="profile-content">
            <div class="container" style="padding-bottom: 50px;">

                <div class="row">
	                <div class="col-xs-6 col-xs-offset-3">
        	           <div class="profile">
	                        <div class="avatar">
	                            <img src="static/img/home/myImg.jpg" alt="Circle Image" class="img-circle img-responsive img-raised">
	                        </div>
	                        <div class="name">
	                            <h3 class="title" id="userNm"></h3>
                              {% if request.session.user_level == 10 %}
								              <h6>숙소등록회원</h6>
                              {% endif %}
                              {% if request.session.user_level == 1 %}
								              <h6>일반회원</h6>
                              {% endif %}
{#                              <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>#}
{#                              <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>#}
{#                              <a href="#pablo" class="btn btn-just-icon btn-simple btn-pinterest"><i class="fa fa-pinterest"></i></a>#}
	                        </div>
	                    </div>
    	            </div>
                </div>

				<div class="row">
          <form id="frm" name="frm" method="POST"> {% csrf_token %}
          <input type="hidden" id="seqNo" name="seqNo" />
					<div class="col-md-6 col-md-offset-3">
						<div class="profile-tabs">
              <div class="nav-align-center">
								<ul class="nav nav-pills nav-pills-icons" role="tablist">
									<li class="active">
                    <a href="#work" role="tab" data-toggle="tab">
                      <i class="material-icons">palette</i>
                        회원정보
                    </a>

                  </li>
                  {% if request.session.user_level == 1 %}
                  <li>
										<a href="#connections" role="tab" data-toggle="tab">
											<i class="material-icons">people</i>
											숙박예약정보
										</a>
									</li>
                  {% endif %}
                  {% if request.session.user_level == 10 %}
                  <li>
										<a href="#rgtInfo" onclick="fn_rgInfo()" role="tab" data-toggle="tab">
											<i class="material-icons">home</i>
											숙박등록정보
										</a>
									</li>
                  {% endif %}
                  <li>
                    <a href="#media" onclick="fn_checkNoti()" role="tab" data-toggle="tab">
                      <i class="material-icons">camera</i>
                      숙박문의 확인
                    </a>
                  </li>
			          </ul>
							</div>
						</div>
						<!-- End Profile Tabs -->
					</div>
          </form>
          </div>
            <div class="tab-content">
			        <div class="tab-pane active work" id="work">
                <div class="col-md-6 col-md-offset-3">
                  <p class="description text-center">회원 정보를 수정할 수 있습니다.<br><br>
                  </p>
                  <form role="form" id="my-form" method="post" > {% csrf_token %}
                    <div class="form-group">
                      <label class="control-label">이름</label>
                      <input type="text" id="user_name" name="user_name" class="form-control">
                    <span class="material-input"></span></div>
                    <div class="form-group">
                      <label class="control-label">비밀번호</label>
                      <input type="password" id="user_pwd" name="user_pwd" class="form-control" placeholder="변경할 비밀번호">
                    <span class="material-input"></span></div>
                    <div class="form-group">
                      <label class="control-label">이메일</label>
                      <input type="email" id="user_email" name="user_email" class="form-control" readonly>
                    <span class="material-input"></span></div>
                    <div class="form-group ">
                      <label class="control-label">핸드폰번호</label>
                      <input type="text" id="user_phone" name="user_phone" class="form-control">
                    <span class="material-input"></span></div>
                    <div class="submit text-center">
                      <button id="modify" class="btn btn-primary btn-raised btn-round">수정</button>
                    </div>
                  </form>
                </div>
			        </div>
              {% if request.session.user_level == 10 %}
              <div class="tab-pane rgtInfo" id="rgtInfo">
                <div class="row" id="rgContent" style="padding: 80px;">

                </div>
              </div>
            {% endif %}
            {% if request.session.user_level == 1%}
              <div class="tab-pane connections" id="connections">

              </div>
            {% endif %}
              <div class="tab-pane text-center gallery" id="media">
                <div class="row" id="notiContent" style="padding: 80px;">
                  <div class="table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th class="text-center">#</th>
                                  <th class="text-center">숙소이름</th>
                                  <th class="text-center">제목</th>
                                  <th class="text-center">보낸이</th>
                                  <th class="text-center">날짜</th>
                                  <th class="text-center">Actions</th>
                              </tr>
                          </thead>
                          <tbody id="notiTable">
                              <tr>
                                  <td class="text-center">1</td>
                                  <td>Andrew Mike</td>
                                  <td>Develop</td>
                                  <td>2013</td>
                                  <td>&euro; 99,225</td>
                                  <td class="td-actions text-right">
                                      <button type="button" rel="tooltip" class="btn btn-info">
                                          <i class="material-icons">person</i>
                                      </button>
                                      <button type="button" rel="tooltip" class="btn btn-success">
                                          <i class="material-icons">edit</i>
                                      </button>
                                      <button type="button" rel="tooltip" class="btn btn-danger">
                                          <i class="material-icons">close</i>
                                      </button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                    </div>

                </div>
    			    </div>
            </div>
        </div>
	</div>
  </div>

{% include 'home/layout/footer.html' %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">1:1 문의하기</h4>
			</div>
			<div class="modal-body">
        <div class="title">
            <h6>질문자 제목</h6>
        </div>
        <div class="form-group label-floating is-empty">
          <p id="mSubject"></p>
        </div>

        <div class="title">
            <h6>질문자 내용</h6>
        </div>
        <div class="form-group label-floating is-empty">
          <p id="mContent"></p>
        </div>

        <hr style="background: #ccc;">
        <div class="title">
            <h6>제목</h6>
        </div>

        <input type="text" id="subject" placeholder="제목을 입력해주세요." class="form-control">

        <div class="title">
            <h6>내용</h6>
        </div>
        <div class="form-group label-floating is-empty">
        <label class="control-label"> 답변내용을 적어주세요.</label>
        <textarea class="form-control" id="contents" rows="5"></textarea>
                <span class="material-input"></span></div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-simple btn-info" id="notiSubmit">보내기</button>
				<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
</body>
{% include 'home/layout/bottom.html' %}
<script>
  $(function () {

      fn_myInfo();

      $("#modify").on("click", function () {
        $.ajax({
          type: "POST",
          url: "api/mem/members/modify/",
          data: $("#my-form").serialize(),
          success: (function (data) {
              console.log(data);
            if(data === "success") {
                alert("회원정보 수정완료");
            }
          }),
          fail: (function (err) {
              console.log(err);
          })
        })
      });

      $("#notiSubmit").on("click", function() {
         alert("답변이 전송되었습니다.")
         $("#myModal").modal('hide');
      });
  });

  function fn_myInfo() {
      $.ajax({
          type: "POST",
          url: "api/mem/members/member/",
          data : { user_email : '{{ request.session.user_email }}' },
          success: function(data) {
            $.each(data[0], function(key, value) {
                $("#" + key).val(value);
            });
            $("#userNm").text(data[0]["user_name"]);
          }
      })

  }

  function fn_checkNoti() {
      $.ajax({
          type: "POST",
          url: "api/room/rooms/getNoti/",
          data: {
              email: '{{ request.session.user_email }}'
          },
          success: function (data) {
            console.log(data);
            $("#notiTable").empty();
            if(data.length > 0) {
                let test;

                for(idx in data) {

                 test = '<tr onclick="fn_select(' + data[idx].seq_no + ')">' +
                     '<td class="text-center">' + (parseInt(idx) + 1) +' </td>' +
                     '<td class="text-center">' + data[idx].rm_nm + '</td>' +
                     '<td class="text-center">' + data[idx].subject + '</td>' +
                     '<td class="text-center">' + data[idx].post_email + '</td>' +
                     '<td class="text-center">' + data[idx].join_date + '</td>' +
                     '<td>' +
                     '<button type="button" rel="tooltip" class="btn btn-success">' +
                     ' <i class="material-icons">edit</i>' +
                     ' </button>' +
                     '</td>' +

                     '</tr>';
                   $("#notiTable").append(test);

              }

            } else {
                $("#notiContent").html("<h4 class='text-center'> 등록된 문의가 없습니다.</h4>");
            }
          }
      })
  }

  function fn_select(seqNo) {
      $.ajax({
          type: "POST",
          url: "api/room/rooms/dtlNoti/",
          data: {
              seqNo: seqNo
          },
          success: function (data) {
            $("#mSubject").html(data[0].subject);
            $("#mContent").html(data[0].contents);
            $("#myModal").modal('show');
          }
      })
  }

  function fn_select_two(seqNo) {
        $("#frm").attr("target", "");
        $("#frm #seqNo").val(seqNo);
        $("#frm").attr("action", "/detailRoom");
        $("#frm").submit();
        return false;
      }

  function fn_rgInfo() {
      $.ajax({
         type: "POST",
         url: "api/room/rooms/info/",
         data: {
             email: '{{ request.session.user_email }}'
         },
         success: function(data) {

          $("#rgContent").empty();
             let test;
             if(data.length > 0) {
                 for(idx in data) {

                 test = '<div class="col-md-4">' +
                          '<div class="card card-profile">' +
                           '<div class="card-image" style="margin-left: 15px;' +
                     '    margin-right: 15px;' +
                     '    margin-top: -30px;' +
                     '    border-radius: 6px;">' +
                           '<a href="#pablo">' +
                           '<img class="img" src="'+ data[idx].rm_room_path+'">' +
                           '</a>' +
                           '</div>' +
                           '<div class="card-content">' +
                            '<h5 class="category text-info">'+ data[idx].rm_nm +'</h6>' +
                         '<h6 class="category text-info">'+ '아파트'+'</h6>' +
                           '<div class="footer">' +
                     '<a onclick="fn_select_two(' + data[idx].seq_no + ')" class="btn btn-info btn-round">바로가기<div' +
                     'class="ripple-container"></div></a>' +
                     '</div>' +
                           '</div>' +
                          '</div>' +
                         '</div>';
                   $("#rgContent").append(test);

              }
             } else {
                 $("#rgContent").empty();

                 $("#rgContent").append("<h4 class='text-center'> 등록된 숙소가 없습니다.</h4>");
             }
         }
      });


  }

</script>
</html>
