<!doctype html>
<html lang="en">
<head>
  {% include 'home/layout/header.html' %}
  <link href="static/css/hotel-datepicker.css" rel="stylesheet" />
</head>

<body class="index-page">
	{% include 'home/layout/top.html' %}

	<!-- content!!!!!!!!!!!!!!!!!!!! -->
	<div class="page-header header-filter clear-filter" data-parallax="true"
		style="background-image: url('static/img/home/main.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1>Sejong Reservation System
							<div class="pro-badge">
								Welcome
							</div>
						</h1>

						<h3>
							환영합니다.
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main main-raised">
		<div class="section section-basic">

			<div class="container">
				<div class="text-center">
						<button class="btn btn-just-icon btn-round btn-twitter" style="margin: 0px;">
								<i class="fa fa-search"></i>
							<div class="ripple-container"></div></button>
							<span style="font-size: 20px; padding: 10px; font-weight: bold;">숙소 검색하기</span>
				</div>

				<div class="col-md-8 col-md-offset-2">
					<div class="form-group label-floating is-empty">
						<label class="control-label">동이름</label>
						<input type="text" class="form-control">
						<span class="material-input"></span>
					</div>
					<input type="text" id="dateTimePicker" class="form-control" placeholder="날짜검색">
					<!-- <input type="text" id="dateTimePicker" class="form-control" placeholder="검색날짜"> -->
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<select class="selectpicker" title="Single Select" data-size="7">
								<option disabled selected>성인인원</option>
								<option value="1">1명</option>
								<option value="2">2명</option>
								<option value="3">3명</option>
								<option value="4">4명</option>
								<option value="5">5명</option>
							</select>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<select class="selectpicker" title="Single Select" data-size="7">
								<option disabled selected>어린이인원</option>
								<option value="1">1명</option>
								<option value="2">2명</option>
								<option value="3">3명</option>
								<option value="4">4명</option>
								<option value="5">5명</option>
							</select>
						</div>
					</div>
					<div class="text-center" style="margin-top:20px;">
							<a href="#pablo" class="btn btn-info btn-round">검색<div
								class="ripple-container"></div></a>
					</div>

				</div>
				<div class="col-md-6 text-center">
					<!-- <button type="button" class="dropdown-toggle bs-placeholder btn btn-primary btn-round" data-toggle="dropdown" role="button" title="Choose city" aria-expanded="true"><span class="filter-option pull-left">Choose city</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span><div class="ripple-container"></div></button> -->
				</div>

				<div class="col-md-8 col-md-offset-2">
					<h3 class="text-center">세종 숙소에 직접 다녀간 게스트의 후기</h3>
						<h4 class="text-center description">금주 좋아요를 제일 많이 받은 숙소를 확인하세요!</h4>
				</div>
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-4">
							<div class="card card-profile">
								<div class="card-image">
									<a href="#pablo">
										<img class="img" src="static/img/examples/card-profile4.jpg">
									</a>
									<div class="colored-shadow"
										style="background-image: url(&quot;static/img/examples/card-profile4.jpg&quot;); opacity: 1;">
									</div>
								</div>

								<div class="card-content">
									<h6 class="category text-info">Web Designer</h6>

									<p class="card-description">
										Don't be scared of the truth because we need to restart the human foundation in
										truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but
										the back is...
									</p>

									<div class="footer">
										<a href="#pablo" class="btn btn-info btn-round">바로가기<div
												class="ripple-container"></div></a>
									</div>
								</div>
							</div>
						</div>
            <div class="col-md-4">
							<div class="card card-profile">
								<div class="card-image">
									<a href="#pablo">
										<img class="img" src="static/img/examples/card-profile4.jpg">
									</a>
									<div class="colored-shadow"
										style="background-image: url(&quot;static/img/examples/card-profile4.jpg&quot;); opacity: 1;">
									</div>
								</div>

								<div class="card-content">
									<h6 class="category text-info">Web Designer</h6>

									<p class="card-description">
										Don't be scared of the truth because we need to restart the human foundation in
										truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but
										the back is...
									</p>

									<div class="footer">
										<a href="#pablo" class="btn btn-info btn-round">바로가기<div
												class="ripple-container"></div></a>
									</div>
								</div>
							</div>
						</div>
            <div class="col-md-4">
							<div class="card card-profile">
								<div class="card-image">
									<a href="#pablo">
										<img class="img" src="static/img/examples/card-profile4.jpg">
									</a>
									<div class="colored-shadow"
										style="background-image: url(&quot;static/img/examples/card-profile4.jpg&quot;); opacity: 1;">
									</div>
								</div>

								<div class="card-content">
									<h6 class="category text-info">Web Designer</h6>

									<p class="card-description">
										Don't be scared of the truth because we need to restart the human foundation in
										truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but
										the back is...
									</p>

									<div class="footer">
										<a href="#pablo" class="btn btn-info btn-round">바로가기<div
												class="ripple-container"></div></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
  {% include 'home/layout/footer.html' %}

	<!-- content!!!!!!!!!!!!!!!!!!!! -->
</body>
{% include 'home/layout/bottom.html' %}
<script src="/static/js/hotel-datepicker.js" type="text/javascript"></script>
<script src="/static/js/fecha.js" type="text/javascript"></script>
<script>
  $(document).ready(function () {
		let input = document.getElementById('dateTimePicker');
		let datepicker = new HotelDatepicker(input, {
			format: 'YYYY-MMM-D (dddd)',
			// dddd D MMM YYYY
			startOfWeek: 'monday',
			i18n: {
				selected: '선택날짜:',
				night: '일',
				nights: '일',
				button: '닫기',
				'checkin-disabled': 'Check-in disabilitato',
				'checkout-disabled': 'Check-out disabilitato',
				'day-names-short': ['　일 ', '　월 ', '　화 ', '　수 ', '　목 ', '　금 ', '　토 '],
				'day-names': ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일'],
				'month-names-short': ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
				'month-names': ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
			}
		});
	});
</script>


</html>
